* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before{
  box-sizing: border-box;
}

button, input {
  outline: none;
  border: 1px solid transparent;
  background: transparent;
}

button {
  cursor: pointer;
}